:root {
  --bg: #000000;
  --fg: #33ff33;
  --glow: #33ff33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
  cursor: crosshair;
}

body {
  background: radial-gradient(circle at center,color-mix(in srgb, var(--fg) 40%, transparent) 0%, rgba(0, 0, 0, 0.85) 100%, black 100%);
  background-color: var(--bg);
  color: var(--fg);
  text-shadow: 0 0 6px var(--glow);
  height: 100vh;
  animation: flicker 0.15s infinite;
  overflow-y: auto;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 3px, transparent 3px, transparent 6px);
  pointer-events: none;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, transparent 40%, rgba(0,0,0,0.6) 100%);
  pointer-events: none;
}

.terminal {
  margin: 0 auto;
  padding: 2px
}

.output p {
  margin-bottom: 6px;
}

.prompt {
  margin-right: 6px;
}

input {
  background: transparent;
  border: none;
  color: var(--fg);
  font-family: inherit;
  outline: none;
  width: 80%;
  text-decoration: none
}

.cmd {
  color: var(--fg);
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.85; }
  100% { opacity: 1; }
}

::-webkit-scrollbar { width: 2px; } 
::-webkit-scrollbar-track { background: var(--bg); } 
::-webkit-scrollbar-thumb { background: var(--fg); }
